<%= link_to "#{generate_share_url(@spotify_ids, @term, @limit, @kind)}&text=%0a%0a%23Myfavoritesares %23ミニアプリウィーク%0a%0a", :onclick=>"window.open(this.href,'hoge', 'height=480, width=640');return false;", rel: "noopener noreferrer", data: { toggle: "tooltip", placement: "bottom" }, class: "uk-text-lead" do %>
  <p><span uk-icon="x" class="uk-text-lead uk-text-small"></span>でシェア</p>
<% end %>
<!-- フォーム -->
<%= render FormComponent.new(term: @term, limit: @limit, kind: @kind) %>
<div class="uk-margin-top" uk-scrollspy="target: > div; cls: uk-animation-fade; target: .track; delay: 200">
  <%= render SpotifyContentComponent.with_collection(@spotify_ids, kind: @kind) %>
</div>