<div class="uk-width-5-6 uk-margin-auto uk-margin-auto-left">
  <iframe src="https://open.spotify.com/embed/track/<%= @track.id %>?utm_source=generator" allow="encrypted-media" class="uk-width-1-1"></iframe>
</div>
