<h1>Users#spotify</h1>
<p>Find me in app/views/user/spotify.html.erb</p>

<iframe src="https://open.spotify.com/embed/track/<%= @track.id %>?utm_source=generator" allow="encrypted-media"></iframe>

<%= link_to 'Show track', "/users/tracks/#{@track.id}" %>
