<div class="uk-width-5-6 uk-margin-auto-left uk-margin-auto-right">
  <iframe src="https://open.spotify.com/embed/track/<%= @track_id %>?utm_source=generator" width="100%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>